@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --backgroundTitle: #EFF4FC;
    --profileColor: lightgrey;
    --searchBox: #F6F6F6;
    --backgroundHeader: #EDEDED;
    --backgroundBody: #F5F5F5;
    --backgroundContent: #FFFFFF;

    --inter: "Inter", sans-serif;
    --roboto: "Roboto", sans-serif;
}

body {
    background-color: var(--backgroundBody);
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

nav {
    background-color: var(--backgroundContent);
    border: 2px solid black;
    max-width: 339px;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

nav .logo-box {
    display: flex;
    align-items: center;
    background-color: var(--backgroundTitle);
    ;
    width: 297px;
    height: 62px;
    font-family: var(--inter);
}

nav .logo-box h1 {
    box-sizing: content-box;
    margin: 0 1rem 0 1rem;
    padding: 0;
    font-size: 2.5rem;
    font-weight: 1000;
    line-height: 48.41px;
}

nav .logo-box p {
    margin: 0;
    font-size: .813rem;
    font-weight: 400;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 2rem;
    color: black;
}

nav ul li {
    margin-bottom: 1rem;
    /* Adiciona espaçamento entre os itens da lista, se necessário */
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

main header {
    display: flex;
    flex-direction: row;
    background-color: var(--backgroundHeader);
    border: 1px solid black;
    margin: 1rem;
}

main header .search-box {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

main header .profile-box {
    display: flex;
    flex-direction: row;
}

main header .profile-box img {
    height: 2.6rem;
    width: 2.6rem;;
    border-radius: 50%;
}

main .dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0.5rem 1rem 0.5rem;
}

main .dashboard .cards {
    background-color: var(--backgroundContent);
    border: 1px solid black;
    flex: 1;
    /* Permitir que os cards cresçam igualmente */
    margin: 0 0.5rem;
    /* Espaçamento entre os cards */
}

.table-box {
    border: 1px solid black;
    margin: 0 1rem 1rem 1rem;
    height: 100vh;
}